
<head>	
	<html lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href = "/anon/css/messages.css" rel ="stylesheet" >
<!-- Font Awesome 5 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<!-- Font Awesome 4 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Font Awesome 6 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
{{#if message}}
{{#each message}}
	<div class = "messages light dark" id = messages.{{SENDERID}}>
		<div id = logo>
			<img src = /anon/pic/anon.png />
			<p> anon message </p>
			<p id = id data-user = {{USERID}}  onclick="preview(this,1)"> {{SENDERID}}</p>
		</div> 
	
		<div id = mssgCntnts   data-msgid={{MSGID}}   onclick="preview(this,0)" >

			<p>  {{MSG}}</p>
				
			<p> {{CTIME}} </p>
      	</div>
        <div class ="reactCon">
		{{#each reactlist}}
			{{#if reacted }}
	 		 <div  id ={{msgid}}{{key}}  class = 'reactions' onclick= reactor(this) data-id ={{msgid}} data-name="{{name}}" data-cuser = "{{uname}}" data-react = {{key}}  data-reacted = 'true'  > 
				<i class ="{{fa}}"style="color:{{keyclr}};"></i>
				<p> {{length}}</p> 
				
		     </div>	
				{{else}}
			 <div  id ={{msgid}}{{key}}  class = 'reactions' onclick= reactor(this) data-id ={{msgid}} data-name= {{name}} data-cuser = {{uname}} data-react = {{key}}  data-reacted = 'false'  >
				<i class ="{{fa}}" style="color:white;"></i>
				
					<p> {{length}}</p>
					
			 </div>
								
			{{/if}}
		{{/each}}
      </div>
 </div>
 

{{/each}}
{{/if}}

{{#if preview}}
	<div class = "messages light dark" id = messages.{{SENDERID}}>
		<div id = logo>
			<img src = /anon/pic/anon.png />
			<p> anon message </p>
			
			<p id = id data-user = {{USERID}} onclick="preview(this,1)" > {{SENDERID}}</p>
	</div> 
	
	<div id = mssgCntnts   data-msgid={{MSGID}}   onclick="preview(this,0)">

			<p >{{MSG}}</p>
				
			<p> {{CTIME}}</p>
      </div>
      <div class ="reactCon">
		{{#each reactlist}}
			{{#if reacted }}
	 		 <div  id ={{msgid}}{{key}}  class = 'reactions' onclick= reactor(this) data-id ={{msgid}} data-name="{{name}}" data-cuser = "{{uname}}" data-react = {{key}}  data-reacted = 'true'  > 
				<i class ="{{fa}}"style="color:{{keyclr}};"></i>
				<p> {{length}}</p> 
				
		     </div>	
				{{else}}
			 <div  id ={{msgid}}{{key}}  class = 'reactions' onclick= reactor(this) data-id ={{msgid}} data-name= {{name}} data-cuser = {{uname}} data-react = {{key}}  data-reacted = 'false'  >
				<i class ="{{fa}}" style="{{keyclr}};"></i>
				
					<p> {{length}}</p>
					
			 </div>
								
			{{/if}}
		{{/each}}
      </div>
 </div>
 
{{/if}}
<script   src = "/anon/js/httpreq.js"></script>
<script   src = "/anon/js/preview.js"></script>